body {
background: linear-gradient(
  to bottom,
  #B0E0E6,
  #B0E0E6 50%,
  #d8f0f3 50%,
  #d8f0f3
);
background-size: 100% 30px;
}

.box {
  background-color: white;
  border: 1px solid #eee;
  width: 40%;
  min-width: 300px;
  margin: 60px auto;
}

.guessBox {
  min-height: 300px;
}

.optionsBox {
  min-height: 100px;
  min-width: 200px;
}

.optionsBox .btn {
  margin: 20px auto;
}

input button {
  width: 100%;
}

#hint {
  float: right;
  border-radius: 50%;
  margin: 10px;
}